.navigation-container .link {
  text-decoration: none;
  color: #405c27;
  font-family: "Open Sans", sans-serif;
}

.navigation-container .active {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .navigation-container .link {
    color: black;
  }
  .navigation-container .active {
    text-decoration: underline;
    color: #739654;
  }
}
