nav.top-nav {
  align-items: center;
  display: flex;
  padding: 20px 0;
  width: 500px;
  justify-content: space-around;
}

nav.top-nav a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
}

nav.top-nav a.active {
  text-decoration: underline;
  color: #739654;
}
